<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no"
    />
    <title><%= title %></title>

    <!-- 样式引用 -->
    <link rel="stylesheet" href="/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/css/index.css">
    <link
      rel="stylesheet"
      href="http://v3.bootcss.com/assets/css/docs.min.css"
    />
  </head>
  <body>
    <header style="margin-bottom:30px;">
      <a href="/" title="图书管理系统" class="logo"><span>图书管理系统</span></a>
    </header>
  </body>
</html>
